#feature__heading-speacial h1{
    position: relative;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--color-text-link);
}
#feature__heading-speacial h1:before{
    content: "";
    width: 25px;
    min-height: 3px;
    position: absolute;
    top: 3px;
    left: 0;
    background: var(--gradient-bar);
}